<app-navbar></app-navbar>



<div class="container">
  <form [formGroup]="weddingForm">
    <div *ngIf="step == 1" class="container" style="margin-top: 2rem;">
      <h5 style="text-align: center;">Dados do Noivo</h5>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome do Noivo</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="groom_name"
              placeholder="Digite o nome do noivo">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">CPF</label>
            <input type="text" class="form-control" formControlName="groom_cpf" placeholder="Digite o CPF do noivo">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Data de nascimento</label>
            <input type="date" class="form-control" aria-describedby="emailHelp" formControlName="groom_bornDate"
              placeholder="Digite o nome do noivo">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Naturalidade</label>
            <input type="text" class="form-control" formControlName="groom_bornCity" placeholder="Naturalidade">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Nacionalidade</label>
            <input type="text" class="form-control" formControlName="groom_nationality" placeholder="Nacionalidade">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Mãe do Noivo</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="groom_mother"
              placeholder="Digite o nome da mãe do noivo">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Pai do Noivo</label>
            <input type="text" class="form-control" formControlName="groom_father"
              placeholder="Digite o nome do pai do noivo">
          </div>
        </div>
      </div>

      <button class="btn btn-danger" style="margin-top: 2rem;" (click)="next()"> Continuar </button>
    </div>




    <div *ngIf="step == 2" class="container" style="margin-top: 2rem;">
      <h5 style="text-align: center;">Dados da Noiva</h5>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome da Noiva</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="bride_name"
              placeholder="Digite o nome da noiva">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">CPF</label>
            <input type="text" class="form-control" formControlName="bride_cpf" placeholder="Digite o CPF da noiva">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Data de nascimento</label>
            <input type="date" class="form-control" aria-describedby="emailHelp" formControlName="bride_bornDate"
              placeholder="">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Naturalidade</label>
            <input type="text" class="form-control" formControlName="bride_bornCity" placeholder="Naturalidade">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Nacionalidade</label>
            <input type="text" class="form-control" formControlName="bride_nationality" placeholder="Nacionalidade">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Mãe da Noiva</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="bride_mother"
              placeholder="Digite o nome da mãe da noiva">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Pai da Noiva</label>
            <input type="text" class="form-control" formControlName="bride_father"
              placeholder="Digite o nome do pai da noiva">
          </div>
        </div>
      </div>
      <button class="btn btn-danger" style="margin-top: 2rem;" (click)="next()"> Continuar </button>

    </div>


    <div *ngIf="step == 3" class="container" style="margin-top: 2rem;">
      <h5 style="text-align: center;">Escolha agora o regime de bens</h5>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-12">
          <select class="form-control" formControlName="property_regime">
            <option>Comunhão parcial de bens</option>
            <option>Comunhão universal de bens</option>
            <option>Separação total de bens</option>
            <option>Separação obrigatória de bens</option>
            <option>Participação final nos aquestos</option>

          </select>
        </div>
      </div>
      <button class="btn btn-danger" style="margin-top: 2rem;" (click)="next()"> Continuar </button>


    </div>



    <div *ngIf="step <= 4" class="container" style="margin-top: 3rem;">
      <h4 *ngIf="step >= 4" style="text-align: center;"> Prontos para casarem? </h4>
      <div class="progress" style="margin-top: 2rem;">
        <div id="progress" class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
    <div class="container"
      style="display: flex; justify-content: center; flex-direction: column; width: 20%; margin-top: 3rem;">
      <button *ngIf="step==4" type="submit" (click)="onSubmit()" class="btn btn-danger">Vamos nessa!</button>
    </div>
  </form>
</div>