<div class="container-fluid">
  <main class="row">

      <aside class="col-md-4 left-strip">
          <div class="row">
                  <img src="https://i.imgur.com/hmBf2gh.png" class="phrase">
                  <img src="https://static-goengines.gocase.com.br/uploads/image/30360/src/994ea4d39f9c54a1f04b956b26f31c7f.png" class="illustration">
          </div>
      </aside>

      <section class="col-md-8 col-12 form-signin">
          <img  class="logo" src="https://i.imgur.com/CY6hVy4.png">

          <div class="container-fluid">

            <button class="w-100 btn btn-md vamos-la" type="submit" (click)="goToForm()">Vamos nessa!</button>
           </div>

      </section>

  </main>

</div>
